body {
  margin: 0;
}

#myBox {
  background-color: lightblue;
  width: 300px;
  height: 300px;
  font-size: 4.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}